---
title: Home
layout: default.hbs
---
<div data-slide="4" id="contact" class="slide inactive">
	<img src="{{images}}/global/iconContact.png" class="icon">
	<div id="contactWrapper" class="content wrapper">
		<ul>
			<li>
				<h2>Get in touch...</h2>
				<div id="iconContainer">
					<a href="https://www.facebook.com/steven.grain"><img src="{{images}}/contact/webicon-facebook.svg" alt="" class="contactImg"></a>
					<a href="https://twitter.com/Grainy87"><img src="{{images}}/contact/webicon-twitter.svg" alt="" class="contactImg"></a>
					<a href="https://uk.linkedin.com/in/stevengrain"><img src="{{images}}/contact/webicon-linkedin.svg" alt="" class="contactImg"></a>
					<a href="https://github.com/Grainy"><img src="{{images}}/contact/webicon-github.svg" alt="" class="contactImg"></a>
					<a href="mailto:stevengrain@gmail.com"><img src="{{images}}/contact/webicon-mail.svg" alt="" class="contactImg"></a>
				</div>
			</li>
			<div class="myScrollBarV">
				<div></div>
			</div>
		</ul>
	</div>
</div>
<div data-slide="3" id="about" class="slide inactive">
	<img src="{{images}}/global/iconAbout.png" class="icon">
	<div id="aboutWrapper" class="content wrapper">
		<ul>
			<li>
				<h2>About me...</h2>
				<p>My name is Steven Grain, I am a front-end developer based in Manchester UK. After graduating from Manchester Metropolitan University in the summer of 2013 with a degree in Web Development, I landed my first job as a junior web developer for an agency in Manchester City Centre.</p>
				<p>Development has been a long time passion of mine. I have a forever expanding skillset that includes: </p>
				<ul>
					<li>HTML5</li>
					<li>CSS3/SASS/Stylus</li>
					<li>Javascript
						<ul>
							<li>Libraries/Frameworks include:</li>
							<li>jQuery</li>
							<li>Underscore</li>
							<li>Angular</li>
							<li>Ember</li>
							<li>Handlebars</li>
						</ul>
					</li>
					<li>Grunt</li>
					<li>Jekyll</li>
					<li>Responsive Design</li>
					<li>Photoshop</li>
					<li>Fireworks</li>
					<div class="imgContainer">
						<img src="{{images}}/about/logo-collage.png" alt="" class="aboutImg">
					</div>
				</ul>
			</li>
			<div class="myScrollBarV">
				<div></div>
			</div>
		</ul>
	</div>
</div>
<div data-slide="2" id="portfolio" class="slide inactive">
	<img src="{{images}}/global/iconPortfolio.png" class="icon">
	<div id="portfolioWrapper" class="content wrapper">
		<ul>
			<li>
				<h2>The story so far...</h2>
				<div id="iconContainer">
					<a href="http://stevengrain.co.uk/sandbox/fdfa-day3"><img src="{{images}}/portfolio/fdfa3.png" alt="" id="portImg4" class="portfolioImg"></a>
					<a href="http://stevengrain.co.uk/sandbox/fdfa-day2"><img src="{{images}}/portfolio/fdfa2.png" alt="" id="portImg3" class="portfolioImg"></a>
					<a href="http://stevengrain.co.uk/sandbox/fdfa-day1"><img src="{{images}}/portfolio/fdfa1.png" alt="" id="portImg2" class="portfolioImg"></a>
					<a href="http://stevengrain.co.uk/sandbox/oldsite"><img src="{{images}}/portfolio/oldsite.png" alt="" id="portImg1" class="portfolioImg"></a>
				</div>
				<div id="portfolioBlurb">
					
				</div>
			</li>
			<div class="myScrollBarV">
				<div></div>
			</div>
		</ul>
	</div>
</div>
<div data-slide="1" id="home" class="slide active">
	<img src="{{images}}/global/iconHome.png" class="icon">
	<div id="logo" class="content active">
		<h1>Steven Grain</h1>
		<h2>Front-end Developer</h2>
	</div>
</div>
